* {
  margin: 0;
  border: 0;
  overflow-x: hidden;
}
body {
  position: relative; /* added */
  font-family: Arial, sans-serif;
  background-image: url('https://malik-ali-482.github.io/Fauji-Fertilizer/AICT-PROJECT-main/web%20pages/www/images/loginemployeeimage.jpg'); /* Replace with your background image URL */
  background-size: cover;
  background-position: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.footer {
  background-color: #000000;
  padding: 10px;
  text-align: center;
  color: white;
  position: absolute; /* added */
  bottom: 0; /* added */
  width: 100%; /* added */
  clear: both;
}s

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  width: 100%;
  padding: 20px; /* increased padding */
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  height: 40px; /* added height */
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  width: 100%;
  padding: 10px;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* added to give a subtle shadow effect */
}

.header .logo {
  position: absolute;
  right: 10px;
  top: 10px;
}

.header .logo img {
  width: 100px;
  height: 50px;
}

@media (max-width: 768px) {
  .header .logo img {
    width: 80px;
    height: 40px;
  }
}

@media (max-width: 500px) {
  .header .logo img {
    width: 60px;
    height: 30px;
  }
}

.go-back {
  display: flex;
  align-items: center;
}

.go-back img {
  width: 20px;
  height: 20px;
}

.go-back span {
  margin-left: 5px;
  font-size: 16px;
  color: white;
}

#form-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 300px;
  width: 100%;
  margin: 100px auto; /* changed to make the form container centered */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* added to give a subtle shadow effect */
}

#form-container h2 {
  margin-bottom: 20px;
}

#form-container input {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#form-container button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#form-container button:hover {
  background-color: #45a049;
}

